*{
    text-align: center;
}

#container{
    border: 1px solid black;
    margin:auto;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
}
#options{
    margin: 50px auto;
}
#options div{
    margin: 50px 0;
}